<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Detalhes da Notícia</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header class="header">
    <ul class="header-links">
      <li><a href="{% url 'home-page' %}">Home</a></li>
    </ul>
  </header>

  <main>
    <div>
      <h1 class="news-title">{{ news.title }}</h1>
      <p class="news-content">{{ news.content }}</p>
      {% for category in news.categories.all %}
      <span class="news-categories">{{ category }}</span>
      {% endfor %}
      <span class="news-author">{{ news.author }}</span>
      <img class="news-image" src="{% static news.image.url %}" alt="{{ news.title }}">
      <span class="news-date">{{ news.created_at | date:"d/m/Y" }}</span>
    </div>
  </main>

</body>

</html>